body{
    background-color: lightblue;
}

#principal{
    font-size: 3em;
    font-family: inherit;
    margin-right: 2em;
}

.title{
      font-size: 2em;
      font-family: inherit;
}

.logo{
   border: 1px solid black;
   width: 60vw;
   margin: auto;
   border-radius: 5%;
   margin-top: 4em;
   margin-left: 3em;
   margin-bottom: 2em;
   
}

#secundaria{
    border: 2px solid black;
    width: 20vw;
   }

ol{
    display: flex;
    flex-direction: column;
}

.texto{
    margin-left: 5px;
}

span{
    margin: 2px;
    border: 1px solid black;
}

